<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
        .navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link {
            color: red !important;
            opacity: 0.8;
        }
        
        a {
            color: snow;
            opacity: 1;
        }
        
        a:hover {
            color: antiquewhite;
            opacity: 1;
        }
        
        .container {
            justify-content: center;
            margin: auto;
        }
        
        div {
            margin: 0 auto;
        }
    </style>

    <title>POS Tagger</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg " style="background-color: darkslategrey;">
        <a class="navbar-brand" href="{{ url_for('index_page') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="https://github.com/Bharathi-A-7"> Github </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 style="text-align: center;"><b> Parts of Speech Tagger</b>
            <br>
            <br>
            <div class="container" style="text-align: center;">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="well well-sm">
                            <form class="form-horizontal" action="" method="POST">
                                <fieldset>
                                    <legend class="text-center"> Enter Your Text </legend>
                                    <!-- Message body -->
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <br>
                                            <textarea class="form-control" id="text" name="text" placeholder="Please enter your text here..." rows="5"></textarea>
                                        </div>
                                    </div>

                                    <!-- Form actions -->
                                    <div class="form-group text-center">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>